    
<div class="p-5 mb-4 bg-light rounded-3 w-75 mx-auto position-absolute top-50 start-50 translate-middle">
  <div class="container-fluid py-5 ">
    <h1 class="display-5 fw-bold">Boas Vindas</h1>
    <p>Oi Jolie! Este é um pequeno gesto de amor e carinho que preparei para você.</p>
    <p>Ele tem como desculpa ser o dia internacional das mulheres, mas, no fundo, eu só queria fazer algo diferente pra ti!</p>
    <p>Eu amo você absurdamente e espero que isso cause alguma alegria no seu dia e na sua semana!</p>
    <p>Boa navegação nesse singelo site.</p>
  </div>
</div>
